<article class="speakerlist <% if (pageId == 'home') { %> jumbotron hidden-xs <% } %>">
  <% if (speakerlist.length > 0) { %>
    <div class="container">
      <div class="row">
        <% speakerlist.forEach(function(item) { %>
          <div class="<% if (pageId == 'home') { %>col-sm-4 text-center<% } else { %>col-sm-8 <% } %>">
            <h3 class="speakerlist-title"><%= item.title %></h3>
            <h5 class="speakerlist-name">with <a href="/speakers/<%= item.shortname %>"><%= item.name %></a></h5>
            <p class="speakerlist-info">
              <a href="/speakers/<%= item.shortname %>">
                <% if (pageId == 'home') { %>
                  <img class="speakerslist-img img-circle" src="/images/speakers/<%= item.shortname %>_tn.jpg" alt="<%= item.name %>">
                <% } %>
                <% if (pageId == 'speakers') { %>
                  <img class="speakerslist-img img-circle pull-left" src="/images/speakers/<%= item.shortname %>_tn.jpg" alt="<%= item.name %>">
                <% } %>
                <% if (pageId == 'speakerDetail') { %>
                  <img class="speakerslist-img img-responsive pull-left" src="/images/speakers/<%= item.shortname %>.jpg" alt="<%= item.name %>">
                <% } %>
                <% if (pageId !== 'home') { %>
                  <% if (pageId == 'speakers') { %>
                    <%= item.summary %>
                  <% } else { %>
                    <%- item.description %>
                  <% } %>
                <% } %>
              </a>
            </p>
          </div>
        <% }); %>
      </div>
    </div>
  <% } %>
</article>
